*.o
*.a
*.so
*.swp
*.pdb 
*.ilk 
*.idb
*.obj
*.exe
.sconsign.dblite
lua/demo1
lua/lftk_run
lib
tags
bin/demo1*
bin/demo_animator*
bin/demo_thread*
bin/demotr*
bin/demovg*
bin/fontgen*
bin/preview_ui*
bin/resgen*
bin/runLua*
bin/runTest*
bin/strgen*
bin/image*
.vscode
