*.o
*.a
*.so
*.swp
*.pdb 
*.ilk 
*.idb
*.obj
*.lib
*.exp
*.exe
*.os
.sconsign.dblite
lua/demo1
lua/lftk_run
lib/*
bin/*
tags
.vscode
.vs
.lo
awtk_config.pyc
scripts/update_res_common.pyc
infer-out
args.txt
log
*.pyc
__pycache__
test.bin
release
event_log.bin
res/assets/default/inc/fonts/default_full.res
