*.lo
*.o
*.out
*.swp
tags
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache/
/build/
/compile
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/depcomp
/doc
/install-sh
/libtool
/libunibreak.pc
/ltmain.sh
/m4/
/missing
/src/.deps/
/src/.libs/
/src/LineBreak.txt
/src/Makefile
/src/Makefile.in
/src/WordBreakProperty.txt
/src/LineBreakTest.txt
/src/WordBreakTest.txt
/src/GraphemeBreakTest.txt
/src/tests
/src/filter_dup
/src/libunibreak.la
/stamp-h1
